<div id="inputListComponent" style="width:100%;height:100%;background-color:{{d.grandbackgroundColor}}">
	<ul>
	{{# $.each(d.text, function(index, item){ }}
		<li style="float: left" >
			<div style="margin-left:{{d.fatherLeft}};margin-right:{{d.fatherRight}};margin-top:{{d.fatherTop}};
				width:{{d.fatherWidth}};height:{{d.fatherHeight}};background-color:{{d.fatherbackgroundColor}};
				border:{{d.borderLine}}">	
				<div style="display:inline-block;background-color:{{ d.part1BackgroundColor[index] }}">	
					<span data-url="{{d.textUrl.first}}" style="color:{{d.fontColor.first}};margin-left:{{d.sonLeft.first}};
							margin-right:{{d.sonRight.first}};line-height:{{d.fatherHeight}};font-size:{{d.fontSize.first}};
							width:{{d.sonWidth.first}};height:{{d.sonHeight.first}};background-color:{{d.sonbackgroundColor[index].first}};
							font-family:{{d.fontFamily.first}};vertical-align:top;">
							{{item.first}}
					</span>
				</div>	
				<div style="display:inline-block;background-color:{{ d.part2BackgroundColor[index] }}">
					<span data-url="{{d.textUrl.second}}" style="color:{{d.fontColor.second}};margin-left:{{d.sonLeft.second}};
							margin-right:{{d.sonRight.second}};line-height:{{d.fatherHeight}};font-size:{{d.fontSize.second}};
							width:{{d.sonWidth.second}};height:{{d.sonHeight.second}};background-color:{{d.sonbackgroundColor[index].second}};
							font-family:{{d.fontFamily.second}};vertical-align:top;">
							{{item.second}}
					</span>	
				</div>			
			</div>		
		</li>
	{{# }) }}
	</ul>
	<script type="text/javascript">							
		$.each($('#inputListComponent').find('span'), function(index, item){
			var dataUrl = $(item).attr('data-url');		
			$.ajax({
				url: dataUrl,
				async: false,
				success: function(jsonData){
					var activeData = jsonData.data;
					if($.trim(activeData) != ''){
						$(item).text(activeData);
					}
				}
			});
		})							
	</script>
</div>