/*   
 *设置布局宽高  
 */
#search_searchcondition {
	height: 80px;
}

#search_monthWater_table {
	height: 250px;
}

#search_monthWater_pie {
	height: 250px;
}

/* 
 * 标题样式
 */
#search_waterEC_title {
	height: 60px;
	margin-top: 20px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	font-family: "宋体";
}

.search_waterEC_title {
	height: 60px;
	margin-top: 20px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	font-family: "宋体";
}


.search_waterEC_title_div{
	height: 60px;
	line-height: 60px;
}
#search_waterEC_title div{
	height: 60px;
	line-height: 60px;
}

/*
#search_monthWater_table {
	height: calc(100vh-350px);
}
*/

