/*   
 *设置布局宽高  
 */
#search_searchcondition {
	height: 80px;
}

#search_monthWater_table {
	height: 1180px;
}


/*   
 * 设置搜索条件容器各样式  
 */
#search_searchcondition > .layui-inline{
	line-height: 80px;
}

#search_searchcondition > .layui-inline:nth-child(1) {
	line-height: 80px;
	margin-left: 8%;
}

#search_searchcondition label {
	margin: 0;
	padding: 0;	
	margin-right: 15px;
	line-height: 80px;
}

#search_searchcondition > div:first-child {
	/ *margin-right: 30%; */
}

#search_button_search {
	margin-left: 40%;
	margin-right: 5%;
}

#search_button_export {
	margin-right: 5%;
}


/*   
 * 设置搜索条件容器各样式  
 */




