/*   
 *设置布局宽高  
 */
#search_searchcondition {
	height: 80px;
}

#search_yearWater_table {
	height: 160px;
}

#search_yearWater_graph {
	height: 380px;
}

#search_yearWater_detailtable {
	height: 450px;
}





