/* 
 * 标题样式
 */
#search_waterEC_title {
	height: 60px;
	margin-top: 20px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	font-family: "宋体";

}

#search_pure_title {
	
}

#search_pure_table {

}

