.layui-fluid {
	width: 100%;
	min-height:100vh;
	background-color: #000E39;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	overflow-y: hidden;
}

.layui-event > div {
	border: 1px red solid;
}

.controller_content_one_one {
	min-height: calc(100vh - 450px)
}

.controller_content_one_two {
	min-height: calc(100vh - 450px)	
}

.controller_content_one_three {
	min-height: calc(100vh - 450px)	
}

.controller_content_two_one {
	height: 140px;
}

.controller_content_two_two {
	height: 140px;
}

.controller_content_three_one {
	height: 130px;
}

.controller_content_three_two {
	height: 130px;
}

.controller_content_three_three {
	height: 130px;
	background-color: #00104E;
}

.controller_content_four_one {
	height: 140px;
	background-color: #00104E;
}

.controller_content_four_two {
	height: 140px;
}