.layui-fluid {
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: white;
}

fieldset {
	border-radius:13px;
	margin-top: 10px;
}

fieldset legend{
	margin-left: 5%;
	font-size: 16px;
}

.layui-row {
	margin-left: 10px;	
	margin-right: 10px;
	background-color: white;
}

.head-text {
	font-size: 16px;
}


/*   
 * 设置搜索条件容器各样式  
 */


#search_button_search {
	margin-left: 5%;
	margin-right: 5%;
}

#search_button_export {
	margin-right: 5%;
}

.layui-form-item {
	margin-top:10px;
}
