
.layui-fluid {
	margin: 0;
	padding: 0;
}

.layui-col {
	height: 100vh
}

.text-div-left {
	background-color: #D2D2D2
}

.text-div-right {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF
}

.page_father_html {
	text-align: center;
	height: calc(100vh - 160px);
	border: 2px red solid;
	overflow: auto;
	background-color: #FFFFFF;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

#text_content_one {
	
}

#text_content_two_button {
	margin: 0;
	text-align: center;
	margin-top: 3%;
}

#text_content_three_button {
	margin: 0;
	text-align: center;
	margin-top: 3%;
}

#text_content_two_button > div {
	margin: auto 0;
	margin-left: 4%;
	margin-bottom: 3%;
	margin-right: 4%;
	font-size: 1.6rem;
}

#text_content_three_button > div {
	margin: auto 0;
	margin-left: 4%;
	margin-bottom: 3%;
	margin-right: 4%;
	font-size: 1.6rem;
}

#text_content_two_button > div > div {		
	padding-top: 20px;
	line-height: 80px;
}

#text_content_two_button > div button{		
	font-size: 1.6rem;
	font-family: "黑体";
}				

#text_content_three_button {
	height: 40px;
}

#text_content_three_form {			
	padding: 0;
	text-align: center;
	height: calc(100vh - 60px);		
}

#text_content_three_type {
	margin: 0;
	padding: 0;
	height: 60px;
	text-align: center;
	background-color: #FBFBFB;			
}

#text_content_three_type > label {
	font-size: 1.6rem;
	line-height: 60px;
	
}