body{
	background-color: #FAFDFD;
}

.layui-container{
	padding: 0px;
	margin: 0px;
	/* min-width: 1000px; */
	width: 100%;
}

.layui-layer-page{
	padding: 0px 10px;
}

.layui-container>form{
	margin-top: 0px;
	padding: 10px 0px 0px 0px;
	background-color: #EDF6FA;
	/* border: 1px solid red; */
	font-size: 12px;
	
}

.layui-table-tool{
	padding-top: 5px;
	padding-bottom: 2px;
	height: 40px;
	min-height: 40px;
}

.layui-table-tool,.layui-table-header,th,.layui-table-total tr{
	background-color: #EDF6FA;
}

.layui-table{
	font-size: 10px;
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th{
	padding-top: 0px;
	padding-bottom: 0px;
}

.layui-table{
	background-color: #FAFDFD;
}



.layui-input-inline .layui-input{
	height: 30px;
}

.form-label{
	padding-left: 0px;
	padding-right: 5px;
	width: 50px;
}

.layui-input-inline{
	margin-top: 3px;
}

.layui-form-item {
	margin-bottom: 5px;
}

/* .layui-inline{
	border: 1px solid blue;
} */

.layui-form-hidden{
	display: none;
}

.layui-form-item .layui-inline-search{
	margin-right: 0.8%;
}
